# P:NGMM | Procedural Feature Generation Helper
author: Camillo Moschner | date: 25.12.2022

## Import Statements

In [2]:
from itertools import product
import numpy as np
import pandas as pd

# Factorial Design of Simple MM Fabrication

## Define factors

In [4]:
tr_width_list = [round(x,1) for x in np.arange(1.0, 2.5, 0.1)]
tr_length_list = [80] #[x for x in range(10,105,5)]
tr_height_list =[round(x,1) for x in np.arange(1,3.3,0.2)]
len(tr_width_list), len(tr_length_list), len(tr_height_list)

(15, 1, 12)

In [7]:
list(np.arange(1.0, 2.5, 0.1))

[1.0,
 1.1,
 1.2000000000000002,
 1.3000000000000003,
 1.4000000000000004,
 1.5000000000000004,
 1.6000000000000005,
 1.7000000000000006,
 1.8000000000000007,
 1.9000000000000008,
 2.000000000000001,
 2.100000000000001,
 2.200000000000001,
 2.300000000000001,
 2.4000000000000012]

In [5]:
tr_width_list

[1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4]

In [3]:
tr_width_list, tr_length_list, tr_height_list

([1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4],
 [80],
 [1.0, 1.2, 1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0, 3.2])

## Calculate Factorial Runs

In [4]:
tr_runs = pd.DataFrame(list(product(
    tr_width_list,
    tr_length_list,
    tr_height_list
)), columns=['tr_w', 'tr_l', 'tr_h'])
tr_runs.to_csv('smm_runs.csv',index=False)

In [5]:
tr_runs

     tr_w  tr_l  tr_h
0     1.0    80   1.0
1     1.0    80   1.2
2     1.0    80   1.4
3     1.0    80   1.6
4     1.0    80   1.8
..    ...   ...   ...
175   2.4    80   2.4
176   2.4    80   2.6
177   2.4    80   2.8
178   2.4    80   3.0
179   2.4    80   3.2

[180 rows x 3 columns]

## Factorial Design of ST-MM Fabrication

## Define factors

In [6]:
mtr_width_list = [round(x,1) for x in np.arange(1.5, 2.3, 0.1)]
mtr_length_list = [80] #[x for x in range(10,105,5)]
mtr_height_list =[round(x,1) for x in np.arange(1.4,3.1,0.2)]
len(mtr_width_list), len(mtr_length_list), len(mtr_height_list)

(8, 1, 9)

In [7]:
mtr_width_list, mtr_length_list, mtr_height_list

([1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2],
 [80],
 [1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0])

In [8]:
st_width_list = [round(x,1) for x in np.arange(2.0, 5.0, 1.)]
st_length_list = [84] #[x for x in range(10,105,5)]
st_height_list =[round(x,1) for x in np.arange(0.2,1.0,0.2)]
len(st_width_list), len(st_length_list), len(st_height_list)

(3, 1, 4)

In [9]:
st_width_list, st_length_list, st_height_list

([2.0, 3.0, 4.0], [84], [0.2, 0.4, 0.6, 0.8])

## Calculate Factorial Runs

In [10]:
stmm_runs = pd.DataFrame(list(product(
    mtr_width_list,
    mtr_length_list,
    mtr_height_list,
    st_width_list,
    st_length_list,
    st_height_list,
)), columns=['tr_w', 'tr_l', 'tr_h', 
             'st_w', 'st_l', 'st_h'])
stmm_runs.to_csv('stmm_runs.csv',index=False)

In [11]:
stmm_runs

     tr_w  tr_l  tr_h  st_w  st_l  st_h
0     1.5    80   1.4   2.0    84   0.2
1     1.5    80   1.4   2.0    84   0.4
2     1.5    80   1.4   2.0    84   0.6
3     1.5    80   1.4   2.0    84   0.8
4     1.5    80   1.4   3.0    84   0.2
..    ...   ...   ...   ...   ...   ...
859   2.2    80   3.0   3.0    84   0.8
860   2.2    80   3.0   4.0    84   0.2
861   2.2    80   3.0   4.0    84   0.4
862   2.2    80   3.0   4.0    84   0.6
863   2.2    80   3.0   4.0    84   0.8

[864 rows x 6 columns]

In [8]:
stmm_runs.tr_w.sum()+ stmm_runs.st_w.sum()*2 + 1080*2
180*3

NameError: name 'stmm_runs' is not defined

In [10]:
540*3

1620

## Factorial Design of Suction-MM Fabrication

## Define factors

In [13]:
suc_mtr_width_list = [round(x,1) for x in np.arange(1.4, 2.1, 0.2)]
suc_mtr_length_list = [60] #[x for x in range(10,105,5)]
suc_mtr_height_list =[round(x,1) for x in np.arange(1.4,3.1,0.2)]
len(suc_mtr_width_list), len(suc_mtr_length_list), len(suc_mtr_height_list)

(4, 1, 9)

In [14]:
mtr_width_list, mtr_length_list, mtr_height_list

([1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2],
 [80],
 [1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0])

In [15]:
bkp_width_list = [round(x,2) for x in np.arange(0.1, 0.3, 0.05)]
print( len(bkp_width_list) )
bkp_width_list

4

[0.1, 0.15, 0.2, 0.25]

## Calculate Factorial Runs

In [16]:
suctionmm_runs = pd.DataFrame(list(product(
    suc_mtr_length_list,
    suc_mtr_height_list,suc_mtr_width_list,
    bkp_width_list,
)), columns=[ 'tr_l', 'tr_h', 'tr_w',
             'bkp_w'])
suctionmm_runs.to_csv('suctionmm_runs.csv',index=False)

In [23]:
suctionmm_runs#.head(16)

     tr_l  tr_h  tr_w  bkp_w
0      60   1.4   1.4   0.10
1      60   1.4   1.4   0.15
2      60   1.4   1.4   0.20
3      60   1.4   1.4   0.25
4      60   1.4   1.6   0.10
..    ...   ...   ...    ...
139    60   3.0   1.8   0.25
140    60   3.0   2.0   0.10
141    60   3.0   2.0   0.15
142    60   3.0   2.0   0.20
143    60   3.0   2.0   0.25

[144 rows x 4 columns]

In [18]:
suctionmm_runs.head(16).tr_w.sum()+15*2

57.2

In [19]:
suctionmm_runs.tr_w.sum()+287*2

818.8

In [20]:
118.0/2

59.0

In [21]:
1076.95/59
1078.0 / 59

18.271186440677965

In [22]:
suctionmm_runs.loc[suctionmm_runs.tr_w==1.4]

     tr_l  tr_h  tr_w  bkp_w
0      60   1.4   1.4   0.10
1      60   1.4   1.4   0.15
2      60   1.4   1.4   0.20
3      60   1.4   1.4   0.25
16     60   1.6   1.4   0.10
17     60   1.6   1.4   0.15
18     60   1.6   1.4   0.20
19     60   1.6   1.4   0.25
32     60   1.8   1.4   0.10
33     60   1.8   1.4   0.15
34     60   1.8   1.4   0.20
35     60   1.8   1.4   0.25
48     60   2.0   1.4   0.10
49     60   2.0   1.4   0.15
50     60   2.0   1.4   0.20
51     60   2.0   1.4   0.25
64     60   2.2   1.4   0.10
65     60   2.2   1.4   0.15
66     60   2.2   1.4   0.20
67     60   2.2   1.4   0.25
80     60   2.4   1.4   0.10
81     60   2.4   1.4   0.15
82     60   2.4   1.4   0.20
83     60   2.4   1.4   0.25
96     60   2.6   1.4   0.10
97     60   2.6   1.4   0.15
98     60   2.6   1.4   0.20
99     60   2.6   1.4   0.25
112    60   2.8   1.4   0.10
113    60   2.8   1.4   0.15
114    60   2.8   1.4   0.20
115    60   2.8   1.4   0.25
128    60   3.0   1.4   0.10
129    60   3.0   1.4   0.15
130    60   3.0   1.4   0.20
131    60   3.0   1.4   0.25